
<html>
<head></head>

<body>
<h1>Add Post</h1>

<form method="POST" action="/add-post">
    <input type="text" name="name" placeHolder="Enter Title" />
    <input type="text" name="body" placeHolder="Enter Post" />
    <input type="checkbox" name="is_published" />
    <button>Save</button>
</form>


</body>

</html>