
<html>
<head>
    <link rel="stylesheet" href="/style.css"></link>
</head>

<body>
<h1>Posts</h1>

<ol>
{{#posts}}    

    <li class="post-li">
       <a href="/post-details/{{postid}}"><b>Title </b> :{{title}} - <b>Post Text</b>  :{{body}}</a>
    </li>

{{/posts}}
</ol>

</body>

</html>